<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">WorkHub</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav nav-pills ">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <!-- <li><a href="/articles">Dashboard</a></li> -->
            <li><a href="/how_it_works">How it works?</a></li>
            
            {% if session.logged_in %}
              {% if session.register_as == '1' %}
                <li class="pull-right"><a href="/dashboard_users">User Dashboard</a></li>
                <li class="pull-right"><a href="/logout">Logout</a></li>
              {% else %}
                <li class="pull-right"><a href="/dashboard_workers">Worker Dashboard</a></li>
                <li class="pull-right"><a href="/logout">Logout</a></li>
              {% endif %}
            {% else %}
              <li class="pull-right"><a href="/register">Register</a></li>
              <l class="pull-right"i><a href="/login_users">Users Login</a></li>
              <li class="pull-right"><a href="/login_workers">Workers Login</a></li>
            {% endif %}

          </ul>

          <ul class="nav navbar-nav navbar-right">
            

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
