{% extends 'layout.html' %}

{% block body %}
  <section class="container container--padded" id="how-it-works"style = "background: #99ceff">
    <div class="spacer"></div>
   
      <div class="col-xs-12 col-md-10 col-md-offset-1">
       
          <div class="event-wrapper event--both">
            <br><br><hr>
          <p>Our web app is intended to smoothen the workflow between the users and those who are available 
              to do that work. As the crowd increases, the working environment becomes increasingly messy. 
              It is hard to find the people who are available for the particular work that we want to get done. 
              This basically hinders the communication between workers and users. 
              This is where our app comes into play. It fundamentally acts as the intermediator between these two parties.</p>
          
          
          
          
          <div class="row text-center ">
             
                <div class="well well-sm col-xs-6 col-xs-12 col-md-10 col-md-offset-1">
                    <h4>Developers</h4>
                  <h4><small>Manil Puri<small></h4>
                </div>
              </div>
              <hr>
    <br><br>

      </div>
    </div>
    
  </section>
{% endblock %}
