{% extends 'layout.html' %}

{% block body %}
<section class="container container--padded" id="how-it-works" style = "background: #99ceff">
        <div class="row text-center hidden-xs">
          <br>
          <div class="col-xs-6 col-xs-12 col-md-10 col-md-offset-1">
            <div class="well well-sm">
              <h4><small class="text-uppercase">How it Works</small><br>As a User</h4>
            </div>
          </div>
        <div class="spacer"></div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="splitTimeline">
              <div class="event-wrapper event--both">
                <div class="indicator"></div>
                <div class="event">
                  <div class=" guest-profile"></div>
                  <div class="event_inner">
                    <h4>Sign up and create your profile</h4>
                    <p>Tell us about yourself to make your requirements or what you can do.</p>
                  </div>
                </div>
              </div>
              <div class="event-wrapper event--left ">
                <div class="indicator"></div>
                <div class="event">
                  <div class=" guest-profile"></div>
                  <div class="event_inner">
                    <h4>Login to your User Dashboard</h4>
                    <p>Use your dashborad to see available workers and what they can do for you.</p>
                  </div>
                </div>
              </div>
              
              <div class="event-wrapper event--left">
                <div class="indicator"></div>
                <div class="event">
                  <div class=" host-profile"></div>
                  <div class="event_inner">
                    <h4>Choose your workers</h4>
                    <p>You can choose who works for you as per what fits you the best.</p>
                  </div>
                </div>
              </div>
              <div class="event-wrapper event--left">
                <div class="indicator"></div>
                <div class="event">
                  <div class=" host-profile"></div>
                  <div class="event_inner">
                    <h4>Rate the work done!</h4>
                    <p>Feel free to rate the worker and provide feedback for other's reference</p>
                  </div>
                </div>
              </div>
      
              
            </div>
            
          </div>
          <div class="row">
            <br>
          <div class="col-xs-6 col-xs-12 col-md-10 col-md-offset-1">
            <div class="well well-sm">
              <h4><small class="text-uppercase">How it Works </small><br>As a Worker</h4>
            </div>
          </div>
          
        </div>
        <div class="event-wrapper event--both">
            <div class="indicator"></div>
            <div class="event">
              <div class=" guest-profile"></div>
              <div class="event_inner">
                <h4>Sign up and create your profile</h4>
                <p>Tell us about yourself to make your requirements or what you can do.</p>
              </div>
            </div>
          </div>
        <div class="event-wrapper event--right ">
          <div class="indicator"></div>
          <div class="event">
            <div class=" guest-profile"></div>
            <div class="event_inner">
              <h4>Login to your account</h4>
              <p>This is your dashboard to know users looking for you. You can update your details as well.</p>
            </div>
          </div>
        </div>
        <div class="event-wrapper event--right ">
          <div class="indicator"></div>
          <div class="event">
            <div class=" guest-profile"></div>
            <div class="event_inner">
              <h4>You decide if you are avaible to work</h4>
              <p>Should you choose to available you will be shown to the users and they can contact you.</p>
            </div>
          </div>
        </div>
        <div class="event-wrapper event--both">
          <div class="event">
            <div class=" host-profile"></div>
            <div class=" guest-profile"></div>
            <div class="event_inner">
              <h4>Its as easy as this :) </h4>
              <p>You both found what you were looking for. </p>
            </div>
          </div>
        </div>
        </div>
        </div>
      </section>
{% endblock %}
